In [1]:
import tushare as ts
import pandas as pd

In [2]:
ts.set_token('844bdca7ee4db4f13984c99de7a6593bf7f8fab27f89941ead4ab9fb')
pro = ts.pro_api('844bdca7ee4db4f13984c99de7a6593bf7f8fab27f89941ead4ab9fb')
# df = pro.daily(ts_code='000001.SH', start_date='20100101', end_date='20200101')
df = ts.pro_bar(ts_code='000001.SH', asset='I',start_date='20000101', end_date='20250101')
df.head()

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000001.SH,20241231,3351.7630,3406.9652,3413.4545,3351.7630,3407.3259,-55.5629,-1.6307,502731062.0,562584237.4
1,000001.SH,20241230,3407.3259,3395.3962,3412.8414,3394.9648,3400.1420,7.1839,0.2113,455262383.0,522245330.2
2,000001.SH,20241227,3400.1420,3397.2939,3418.9520,3388.3215,3398.0765,2.0655,0.0608,500488130.0,586090438.9
3,000001.SH,20241226,3398.0765,3389.3383,3401.0951,3380.2550,3393.3501,4.7264,0.1393,422177271.0,518937022.6
4,000001.SH,20241225,3393.3501,3395.1072,3406.2125,3374.0113,3393.5281,-0.1780,-0.0052,471315592.0,522168241.9

In [9]:
df.to_csv('上证指数00-24.csv', index=False, encoding='utf_8_sig')